# Override some defaults so BT stack is enabled
# by default in this example
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CONTROLLER_MODE_BLE_ONLY=y
CONFIG_BTDM_CONTROLLER_MODE_BR_EDR_ONLY=
CONFIG_BTDM_CONTROLLER_MODE_BTDM=
CONFIG_GATTS_ENABLE=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_WEBSOCKET_SERVER_MAX_CLIENTS=5
CONFIG_WEBSOCKET_SERVER_QUEUE_SIZE=10
CONFIG_WEBSOCKET_SERVER_QUEUE_TIMEOUT=5
CONFIG_WEBSOCKET_SERVER_TASK_STACK_DEPTH=6000
CONFIG_WEBSOCKET_SERVER_TASK_PRIORITY=5
CONFIG_WEBSOCKET_SERVER_PINNED=
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_MQTT_PROTOCOL_311=
CONFIG_MQTT_TRANSPORT_SSL=
CONFIG_MQTT_TRANSPORT_WEBSOCKET=
CONFIG_MQTT_USE_CUSTOM_CONFIG=
CONFIG_MQTT_TASK_CORE_SELECTION_ENABLED=
CONFIG_MQTT_CUSTOM_OUTBOX=
